/*  
Styles for: Loopstudios Front-End Developer Challenge
Author: Chisom Okoye
Date: 03/03/2025
Version: v1.0
*/

/* Reset & Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Variables */
:root {
    /* Color Palette */
    --primary-color: hsl(0, 0%, 55%);
    --secondary-color: hsl(0, 0%, 41%);
    --accent-color: #28a745; /* Example: Green */
    --background-color: #fff;
    --text-color: #000; /* Black */
    --light-text-color: #666;
    --white: #fff;
    --black: #000;
    --border-color: #dee2e6;
  
    /* Typography */
    --base-font-family: "Alata", sans-serif;
    --heading-font-family: "Josefin Sans", sans-serif;
    --base-font-size: 15px;
    --base-line-height: 1.5;
  
    /* Spacing */
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
  
    /* Border Radius */
    --border-radius: 0.25rem;
  
    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  }

/* Global Styles */
body {
    min-height: 100vh;
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--text-color);
    background-color: var(--background-color);
  }

  .container {
    width: 88%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
  font-weight: 200;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed. */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles  */
header {
  background-image: url(./images/desktop/image-hero.jpg);
  background-color: var(--background-color);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* make background image appear darker */
  filter: brightness(0.75);
}

.hero {
  max-width: 65%;
  display: flex;
}

.page-title {
  padding: var(--space-md) var(--space-lg);
  color: var(--white);
  text-transform: uppercase;
  border: 2px solid var(--white);
  width: 60%;
  margin: 3rem 0;
  font-size: 3rem;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xl) var(--space-lg);
  
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 var(--space-sm);
  margin: 0 var(--space-sm);
  font-weight: bold;
  position: relative;
}

nav a:hover::after {
  content: ' ';
  background-color: var(--white);
  height: 2px;
  width: 25px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);  
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  z-index: 999;
  background-color: var(--black);
  color: var(--white);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  font-family: var(--heading-font-family);
  color: var(--white);
  font-size: x-large;
  font-weight: 200;
  line-height: 1.2;
  text-transform: uppercase;
}

.menu-button {
  display: none;
}

.mobile-menu-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
  padding: 50px 25px;
}

img.mobile-logo {
  height: 30px;
}

/* Styles for Main Content */
.about {
  display: flex;
  padding: var(--space-xl);
  /* margin: var(--space-lg); */
  position: relative;
 
}

.about-image {  
  width: 60%;
}

.about-image img {
  width: 100%;
 
}

.about-description {
  width: 50%;
  background-color: var(--white);
  padding: var(--space-lg) var(--space-xl);
  text-align: left;
  position: absolute;
  left: 380px;
  top: 250px;  
}

.about-description h2 {
  font-size: 1.8rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: var(--space-md);
}

.about-text {
  line-height: 1.6;
}

section.creations {
  padding-bottom: var(--space-lg);
  padding-top: var(--space-xl);
}

.creations-heading {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-lg);
}

.gallery-button-mobile {
  display: flex;
  justify-content: center;
}

.section-button {
  text-transform: uppercase;
  padding: var(--space-md) var(--space-lg);
  letter-spacing: 3px;
  border: 1.5px solid var(--black);
  background-color: var(--white);
  transition: 0.3s;
  width: 180px;
  cursor: pointer;
}

.section-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.creations-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: var(--space-xl);
}

.creations-gallery-item {
    position: relative;
    text-align: left;
}

.creations-gallery-item img {
  width: 100%;
  display: block;
  height: auto;
  transition: opacity 0.3s ease;
}

.creations-gallery-item:hover img {
  opacity: 0.6;
}

.creations-gallery-item:hover h3 {
  color: var(--black);
}

.creations-gallery-item h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 70%;
  color: var(--white);
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  transition: color 0.3s ease;
  z-index: 1;
}

/* Footer Styles */
.footer {
  background-color: var(--black);
  padding: var(--space-xl) 0;
  color: var(--white);
  position: relative;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-md) 0;
}

ul.footer-menu a,
ul.socials a {
  position: relative;
}

ul.footer-menu a:hover::after,
ul.socials a:hover::after {
  content: ' ';
  background-color: var(--white);
  height: 2px;
  width: 25px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);  
}

.footer-menu-item {
  padding: var(--space-sm) 0;
}

.socials {
  display: flex;
}

.social-item {
  padding: 0 var(--space-md);
}

/* -------------------------------------------------------------- */
/* Responsive Styles */
/* For small screens - Mobile - For screens less than or equal to 599px & 768px*/
@media only screen and (max-width: 599px) {
  .sidebar {
    width: 100%;
  }

  .gallery-button-desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .hero {
    max-width: 100%;
    justify-content: center;
  }
  
  .page-title {
      width: 90%;
      font-size: 9vw;
    }

    .about {
      display: block;
      margin: 0 auto;
    }
  
    .about-image {
      width: 100%;
    }
  
    .about-description {
      width: 100%;
      position: static;
      text-align: center;
      padding: var(--space-lg) var(--space-md);
    } 
    
    section.creations {
      padding-top: var(--space-md);
    }
}

/* For medium screens - Tablets - For screens from 600px & 768px and bigger */
@media only screen and (min-width: 600px) {
  .gallery-button-mobile {
    display: none;
  }

  .creations-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .creations-heading h2 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }

  .section1 {
    order: 1;
    justify-content: left;
  }

  .section3 {
    order: 3;
    justify-content: left;
  }

  .section2 {
    order: 2;
    justify-content: right;
  }

  .section4 {
    order: 4;
    justify-content: right;
  }

  .footer-menu {
    display: flex;
  }

  .footer-menu-item {
    padding: 0 var(--space-sm);
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  .page-title {
    width: 79%;
    max-width: 80%;      
  }

  .about-description {
    width: 60%;
    background-color: var(--white);
    padding: var(--space-lg) var(--space-xl);
    text-align: left;
    position: absolute;
    left: 45%;
    top: 45%;  
  }

  section.creations {
    margin-top: 4rem;
  }
}

